@page "/usercart/{UserId}"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@using IMS.UseCases
@inject IShoppingCartService shoppingCartService

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>User Cart - @email</h1>

@if (cart != null && cart.Items != null && cart.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var item in cartitems) *@
            @foreach (var item in cart.Items)
            {
                <tr>
                    <td><img src="@item.Product.ImgUrl" width="50" height="50" /></td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price * item.Quantity)</td>
                    <td>
                        <button @onclick="@(() => RemoveFromCart(item.CartItemId))">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your cart is currently empty.</p>
}

@code {
    
}

